.App {
  font-family: sans-serif;
  text-align: center;
  align-content: center;
}

body {
  padding: 0;
  margin: 0;
}

.loginButton{
  background-color: darkgray;
  color:black;
  padding: 1vh;
  margin: 1vh;

}

.loginButton:hover{
  cursor: pointer;
  background-color: black;
  color: white;
}

.overlay { /* copy css from https://www.w3schools.com/howto/howto_css_overlay.asp*/
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  align-content: center;
}

.exit{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

.authPage {
  position: fixed;
  margin: 20vh 35vw;
  width: 30vw;
  background-color: white;
  z-index: 5;
}

input{
  margin: 2vh
}

button{
  margin: 2vh;
}

.boardDisplay{
  display: flex;
  flex-direction: row;
  min-height: 600px;
  width: 100%;
}

.grab:hover{
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.diceDisplay{
  display: flex;
  flex-direction: row;
  min-width: 30%;
  max-width: 30%;
  min-height: 60vh;
  max-height: 60vh;
  border: 2px solid black;
  margin: 2vw;
}
.playSet{
  min-width: 50%;
  max-width: 50%;
  min-height: 60vh;
  max-height: 60vh;
  margin: 2vw;
  border: 2px solid black;
}

.three-container{
  align-content: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding: 15px;
  
}